<h3 class="bg-info m-0 py-2 text-white px-4" style="border-top-left-radius: 6px;border-top-right-radius: 6px;" >In Gate</h3>
<div class="p-4  bg-light shadow" >
<div class=" mb-2">
    <!-- <h3 class="text-center">In Gate</h3>
    <hr class="mt-2 mb-3"> -->
    <form [formGroup]="truckTransactionsFormGroup" class=" form-inline form-inline-sm">
      <label for="text" class="font-weight-bold">Truck Number:</label>
      <input type="text" formControlName="truckNumber" autocomplete="off" id="text" name="text">
      <!--  (input)="textChanged()"  -->
      <button class="btn btn-primary  btn-sm " (click)="onClickSubmit()"
        [disabled]="!truckTransactionsFormGroup.valid">Submit</button>
      <label for="text" class="ml-5 font-weight-bold">Lane Number:</label>
      <select class=" form-control-md " style="width: 16%;">
        <option *ngFor="let LaneData of LaneDataDto">{{LaneData.name}} </option>
      </select>
      <button class="btn btn-primary ml-3 btn-sm">Submit</button>
    </form>
  </div>
  <ng-container *ngIf="show">
    <div class="">
      <h3 class="font-weight-light text-center text-lg-left">Truck Transaction Details</h3>
      <hr class="mt-2 mb-2">
      <div class="d-flex justify-content-between col-9 p-0">
        <div>
        <label class="font-weight-bold">Driver Name:</label> &nbsp;<span>
          {{truckTransactionList?.registrationNumber}}Mahendra Yadav </span>
        </div>
        <div>
           <label class="font-weight-bold ml-3">Licence Number:</label> &nbsp;<span>{{truckTransactionList?.driverName}} MH1234567890 </span>
          </div>
           <div class="d-flex" >
            <p class="font-weight-bold">Driver Licence:</p> &nbsp; &nbsp;
              <img style="height:150px; width: 250px;" class="my-2" src="../../../assets/img/Driving-Licence-home-delivery.jpg" alt="">
            </div>
     
          </div>
      <!--------truck information table-----------  -->
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Container No</th>
            <th>ISO </th>
            <th>Status </th>
            <th>Seal 1</th>
            <th> Seal 2</th>
            <th> Operation </th>
            <th> Location</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let truckInfo of truckTransactionList?.containerTransactionDtos">
            <td>{{truckInfo.containerNumber}}</td>
            <td>{{truckInfo.isoCode}}</td>
            <td>{{truckInfo.status}}</td>
            <td>{{truckInfo.seal1}}</td>
            <td>{{truckInfo.seal2}}</td>
            <td>{{truckInfo.operationType}}</td>
            <td>{{truckInfo.location}}</td>
          </tr> -->
          <tr *ngFor="let truckInfo of TtruckDetail">
            <td>{{truckInfo.containerNumber}}</td>
            <td>{{truckInfo.isoCode}}</td>
            <td>{{truckInfo.status}}</td>
            <td>{{truckInfo.seal1}}</td>
            <td>{{truckInfo.seal2}}</td>
            <td>{{truckInfo.operationType}}</td>
            <td>{{truckInfo.location}}</td>
          </tr>

        </tbody>
      </table>
    </div>
    <!-- <div class="container ">
      <h3 class="font-weight-light text-center text-lg-left ">Survey Images (Export Contanier)</h3>
      <hr class="mt-2 mb-3">
      <div class="row text-center text-lg-left">
        <div class="col-lg-2 col-md-4 col-6" *ngFor="let surveyData of surveyImagesList;let i=index;">
          <div class="d-block mb-4 ab hover-shadow cursor">
            <img class="img-fluid img-thumbnail myImages" src="{{'data:image/jpg;base64,' + surveyData.byteArray}}"
              (click)="openModal();currentSlide(i+1)" data-toggle="modal" data-target="#myModal">
            <p class="text-center mt-1">{{surveyData.labelName}}</p>
          </div>
        </div>
      </div>
    </div>
   
    <div class="container">
 
      <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            
            <div class="modal-header">
              <button type="button" class="close" (click)="closeModal()" data-dismiss="modal">&times;</button>
            </div>
          
            <div class="modal-body">
              <div class="mySlides" *ngFor="let surveyData of surveyImagesList;let i=index;">
                <img src="{{'data:image/jpg;base64,' + surveyData.byteArray}}" class="img-responsive">
              </div>
              
              <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
              <a class="next" (click)="plusSlides(1)">&#10095;</a>
            </div>
          
            <div class="modal-footer">
              <div class="row">
                <div class="col-2" *ngFor="let surveyData of surveyImagesList;let i=index;">
                  <img class="dot" src="{{'data:image/jpg;base64,' + surveyData.byteArray}}" (click)="currentSlide(i+1)"
                    alt="Nature">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <h3 class="font-weight-light text-center text-lg-left mt-2">Damage Inspection Images</h3>
        <hr class="mt-2 mb-3">
        <div class="row text-center text-lg-left">
          <div class="col-lg-2 col-md-4 col-6"
            *ngFor="let damageInspectionData of damageInspectionImagesList; let i=index;">
            <div class="d-block mb-4 ab">
              <a>
                <img class="img-fluid img-thumbnail" src="{{'data:image/jpg;base64,' + damageInspectionData.byteArray}}">
              </a>
              <h5 class="text-center mt-1">{{damageInspectionData.positionName}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div class=" ">
      <h3 class="font-weight-light text-center text-lg-left ">Survey Images (Import Contanier)</h3>
      <hr class="mt-2 mb-3">
      <div class="row text-center text-lg-left">
  
        <!-- <div class="col-lg-2 col-md-4 col-6" *ngFor="let surveyData of surveyImagesList;let i=index;">
          <div class="d-block mb-4 ab hover-shadow cursor">
            <img class="img-fluid img-thumbnail myImages" src="{{'data:image/jpg;base64,' + surveyData.byteArray}}"
              (click)="openModal();currentSlide(i+1)" data-toggle="modal" data-target="#myModal">
            <p class="text-center mt-1">{{surveyData.labelName}}</p>
          </div>
        </div> -->
  
        <div class="col-lg-8 " >
      
  
          <div class="col-lg-12 px-0 col-md-4 d-flex flex-wrap col-6 mb-3" *ngFor="let surveyData of ContainerImage;let i=index;">
          <div class="d-block  ab col-3  ">
            <div class="height" >
            <img class="img-fluid img-thumbnail myImages" [src]= "'assets/img/'+ surveyData.containerSrc"
              (click)="openModal();currentSlide(i+1)" data-toggle="modal" data-target="#myModal">
            </div>
              <p class="text-center mt-1"> <span> Container{{i+1}}:</span>  {{surveyData.container1}}</p>
          </div>
  
          <div class="d-block  ab col-3  ">
            <div class="height" >
            <img class="img-fluid img-thumbnail myImages" [src]= "'assets/img/'+ surveyData.seal1Src"
              (click)="openModal();currentSlide(i+1)" data-toggle="modal" data-target="#myModal">
            <p class="text-center mt-1"> <span> Seal 1:</span>  {{surveyData.seal1}}</p>
          </div>
          </div>
  
          <div class="d-block  ab  col-3  ">
            <div class="height" >
            <img class="img-fluid img-thumbnail myImages" [src]= "'assets/img/'+ surveyData.seal2Src"
              (click)="openModal();currentSlide(i+1)" data-toggle="modal" data-target="#myModal">
            <p class="text-center mt-1"> <span> Seal 2:</span>  {{surveyData.seal2}}</p>
          </div>
          </div>
   
          <div class="d-block  ab col-3   ">
            <div class="height" >
  
            <img class="img-fluid img-thumbnail myImages" [src]= "'assets/img/'+ surveyData.seal3Src"
              (click)="openModal();currentSlide(i+1)" data-toggle="modal" data-target="#myModal">
            <p class="text-center mt-1"> <span> Seal 3:</span>  {{surveyData.seal3}}</p>
          </div>
        </div>
      </div>
  
     
        </div>
  
  <div  class="col-4" >
  <ul class="list-unstyled" style="font-weight: 400;" >
    <li> <strong> <i class="fa fa-angle-double-right" aria-hidden="true"></i> </strong> Is Door visible in Container: Yes</li>
    <li> <strong> <i class="fa fa-angle-double-right" aria-hidden="true"></i> </strong> Is Seal present in Container: Yes</li>
    <li> <strong> <i class="fa fa-angle-double-right" aria-hidden="true"></i> </strong> Container Radiation Scanning Status: Positive</li>
    <li> <strong> <i class="fa fa-angle-double-right" aria-hidden="true"></i> </strong> Temprature(Farad): <input  style="width: 65px;height: 22px;" type="n"></li>
    <li> <strong> <i class="fa fa-angle-double-right" aria-hidden="true"></i> </strong> Hazadous Sign: Yes</li>
    <img class="my-3" style="height: 120px;" src="assets/img/hazardos-sign.jpg" alt="">
  </ul>
  </div>
  
  
      </div>
    </div>
    <!-- *boostrap modal  -->
    <div class="">
      <!-- The Modal -->
      <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <button type="button" class="close" (click)="closeModal()" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
              <div class="mySlides" *ngFor="let surveyData of surveyImagesList;let i=index;">
                <img src="{{'data:image/jpg;base64,' + surveyData.byteArray}}" class="img-responsive">
              </div>
              <!-- Next/previous controls -->
              <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
              <a class="next" (click)="plusSlides(1)">&#10095;</a>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <div class="row">
                <div class="col-2" *ngFor="let surveyData of surveyImagesList;let i=index;">
                  <img class="dot" src="{{'data:image/jpg;base64,' + surveyData.byteArray}}" (click)="currentSlide(i+1)"
                    alt="Nature">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <h3 class="font-weight-light text-center text-lg-left mt-2">Damage Inspection Images</h3>
        <hr class="mt-2 mb-3">
        <div class="row text-center text-lg-left">
  
          <!-- <div class="col-lg-2 col-md-4 col-6"
            *ngFor="let damageInspectionData of damageInspectionImagesList; let i=index;">
            <div class="d-block mb-4 ab">
              <a>
                <img class="img-fluid img-thumbnail" src="{{'data:image/jpg;base64,' + damageInspectionData.byteArray}}">
              </a>
              <h5 class="text-center mt-1">{{damageInspectionData.positionName}}</h5>
            </div>
          </div> -->
          <div class="col-lg-12 col-md-4 col-6 d-flex"
          >
          <div class="d-block mb-4 col-2 " *ngFor="let damageInspectionData of containerViewImage; let i=index;" >
            <div class="height">
              <img class="img-fluid img-thumbnail" src= "assets/img/{{damageInspectionData.src}}" >
            </div>
          <h5 class="text-center mt-1">{{damageInspectionData.lable}}</h5>
  
          </div>
  
        </div>
  
  
        </div>
      </div>
    </div>


    <div class="text-center">
      <button type="submit" class="btn btn-success" [disabled]="disableBUtton"  (click)="approveTransaction()">Approve<span *ngIf="loading"
          class="spinner-border spinner-border-sm mr-1"></span></button>
      <button type="submit" class="holdBtn btn-warning btn  ml-2" (click)="onHoldData()">Hold</button>
      <button type="submit" class="btn btn-danger ml-2" (click)="onRejectData()">Reject</button>
      <button type="submit" class="btn btn-secondary ml-2" (click)="onPrintData()">Print</button>
      <button type="submit" class="btn btn-primary ml-2"
        routerLink="/home/damage-inspection-management-system" (click)="redirectToInspectPage()">Inspect</button>
    </div>
  </ng-container>
</div>